.git
**/.DS_Store
**/.build
**/.derived
**/.gradle
**/.swiftpm
**/.test-deps
**/build
**/DerivedData
**/node_modules
**/target
**/artifacts
**/dist
**/*.aab
**/*.apk
**/*.ipa
**/*.xcarchive
native/target
server/target
