listening-port=3478
tls-listening-port=5349
listening-ip=0.0.0.0
relay-ip=${PRIVATE_IP}
external-ip=${PUBLIC_IP}/${PRIVATE_IP}
min-port=50000
max-port=50100
fingerprint
lt-cred-mech
realm=${TURN_DOMAIN}
server-name=${TURN_DOMAIN}
user=${TURN_USERNAME}:${TURN_PASSWORD}
cert=/etc/coturn/tls/fullchain.pem
pkey=/etc/coturn/tls/privkey.pem
no-multicast-peers
stale-nonce=600
total-quota=512
user-quota=16
pidfile=/var/run/turnserver.pid
no-stdout-log
